footer {
    width               : 100%;
    font-size           : 13px;
    text-align          : center;
    background-color    : var(--black-12);
    border-top          : 1px solid var(--background-active);
    padding-block       : 8px;
    padding-right       : var(--scroll-width, 0px);
}